/*==================== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=========================== VARIABLES CSS =================*/
:root {
    --header-height: 3.5rem;
    --hue: 255;
    --mainColor: rgb(29, 29, 91);
    --mainColorLight: #eeb746;
    --secondaryColor: #eeb746;
    --textColor: #eee;
    /* --first-color:hsl(var(--hue), 90%, 60%); */
    --first-color: hsl(var(--hue), 57%, 26%);
    --first-color-alt: hsl(var(--hue), 82%, 56%);
    --first-color-light: hsl(var(--hue), 40%, 80%);
    --title-color: hsl(var(--hue), 24%, 16%);
    --text-color: hsl(var(--hue), 8%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 60%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 100%);
    --shadow-color: hsla(var(--hue), 90%, 30%, 0.1);
  
    /* ======== Font and typography ====== */
    /*.5rem = 8px | 1rem = 16px */
    --body-font: "syne" sans-serif;
    --h2-font: "syne", sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  
    /*========== Font Weight ========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ===========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
  }
  
 

  
  .highly {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 25px;
    color: var(--textColor);
    text-decoration: none;
    margin-left: 30px;
  }

  .hf {
    background-image: url(../assets/hf.jpg);
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    border: 1px solid white;
   
  }

  .favored {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 35px;
    justify-content: flex-start;
  }
  

  /* .navname {
    margin-left: 200px;
    margin-right: 160px;
  } */
  .nav-head {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    height: 70px;
    padding: 0 2rem;
    background-color: rgb(17, 16, 16);
    color: var(--textColor);
    position: sticky;
    top: 0;
    box-shadow: 0 12px 24px var(--shadow-color);
  }
  
  nav a {
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
  }
  
  nav a:hover {
    color: var(--secondaryColor);
  }
  
  .btn-trial {
    display: flex;
    justify-content: right;
  }
  
  .starts-btn-trial {
    background-color: rgb(33, 72, 211);
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .nav-head .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }
  
  .contact {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #eeb746;
    margin-right: 0px;
    color: black;
  }
  
  .contact:hover {
    color: rgb(29, 29, 91);
  }
  
  /* .paul:hover {
      color: rgb(33,72,211);
      padding-right: 500px;
      direction: none;
   } */

   @media (min-width: 1391px) and (max-width: 1500px) {
    .navname {
      margin-left: 200px;
      margin-right: 160px;
    }
   }
  
  @media (min-width: 1000px) and (max-width: 1390px) {
    .hf {
      background-image: url(../assets/hf.jpg);
      height: 50px;
      width: 50px;
      background-size: cover;
      background-position: center;
      border-radius: 25px;
      border: 1px solid white;
    }

    .favored {
      font-family: "Syne", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      font-size: 25px;
      justify-content: flex-start;
    }

    .navname {
      margin-left: 50px;
      margin-right: 0px;
    }
    
    
    nav {
      /* padding-left: 320px; */
      margin-right: 0px;
      padding-right: 0px;
    }
  }

  @media (min-width: 769px) and (max-width: 1000px) {
    .hf {
      background-image: url(../assets/hf.jpg);
      height: 50px;
      width: 50px;
      background-size: cover;
      background-position: center;
      border-radius: 25px;
      border: 1px solid white;
    }

    .favored {
      font-family: "Syne", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      font-size: 20px;
      justify-content: flex-start;
    }

    

    nav {
      margin-right: 0px;
      padding-right: 0px;
    }
  }
  
  
  @media (min-width: 280px) and (max-width: 768px) {
    .nav-head .nav-btn {
      visibility: visible;
      opacity: 1;
      height: 70px;
      padding: 0px;
    }
  
    .nav-head nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.25rem;
      background-color: var(--mainColor);
      transition: 1s;
      transform: translateY(-100vh);
    }
  
    .nav-head .responsive_nav {
      transform: none;
    }
  
    nav .nav-close-btn {
      position: absolute;
      top: 0.1rem;
      right: 2rem;
      display: flex;
      align-items: center;
    }
  
    nav a {
      font-size: 1.5rem;
    }
  
    .btn-trial {
      display: flex;
      justify-content: right;
      height: 10px;
      width: 1px;
      visibility: hidden;
    }
  
    .starts-btn-trial {
      background-color: rgb(33, 72, 211);
      padding: 10px 20px;
      border-radius: 10px;
    }
  
    .highly {
      display: flex;
      align-items: center;
      font-size: 20px;
      color: var(--white-color);
      margin-left: 5px;
    }
  }
  
  @media (min-width: 350px) and (max-width: 759px) {
    .favored {
      font-family: "Syne", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      font-size: 25px;
      justify-content: flex-start;
    }
  }

  @media (min-width: 300px) and (max-width: 499px) {
    .favored {
      font-family: "Syne", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      font-size: 20px;
      justify-content: flex-start;
    }
  }