/*======== GOOGLE FONTS ======*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*=========== VARIABLES CSS ==========*/
:root {
    --header-height: 3rem;
    --hue: 255;
    --first-color: hsl(var(--hue), 57%, 26%);
    --first-color-alt: hsl(var(--hue), 82%, 56%);
    --first-color-light: hsl(var(--hue), 40%, 80%);
    --text-color-light: hsl(var(--hue), 8%, 60%);
    --white-color: hsl(0, 0%, 100%);
    --shadow-color: hsla(var(--hue), 90%, 30%, 0.1);
    --sat: 0;
    --title-color:hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    /* --body-color: hsl(var(--hue), var(--sat), 98%); */
    /* --container-color: #fff; */


    /* ========== FONT AND TYPHOGRAPHY ========== */
    --body-font: "poppins" sans-serif;
    --h2-font: "poppins" sans-serif;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;


    /* ========== FONT WEIGHT ========== */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* ========== MARGENES BOTTOM ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* ========== Z INDEX ========== */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/* ========== RESPONSIVE TYPOGRAPHY ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.125rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }   
}

/* ========== BASE ========== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
input,
textarea,
button {
    font-family: var(--body-color);
    color: var(--text-color);
    transition: background-color 0.4s;
}

input,
button,
textarea {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: "syne", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ========== REUSABLE CSS CLASSES ========== */
.section {
    padding: 6rem 0 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section__subtitle {
    display: block;
    font-size: var(--normal-font-size);
    margin-bottom: 4rem;
    margin-left: 20px;
    margin-right: 20px;
}

.section__title,
.section__subtitle {
    text-align: center;
}


/* ========== LAYOUT ==========*/
.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid { 
    display: grid;
    gap: 1.5rem;
}


/* ========== BUTTONS ==========*/
.button {
    display: inline-block;
    background-color: rgb(33, 72, 211);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
}

.button:hover {
    margin-left: var(--title-color-dark);
}

.button__icon {
    margin-left: var(--mb-0-5);
}

.button--flex {
    display: inline-flex;
    align-items: center;
}


/* ========== BREAKPOINTS ========== */

/* ========== FOR LARGE DEVICES ==========*/
@media screen and (max-width: 992px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
}

/* ========== FOR MEDIUM DEVICES ========== */
@media screen and (max-width: 768px) {
    body {
        margin: 0 0 var(--header-height) 0;
    }

    .section {
        padding: 2rem 0 4rem;
    }
    
    .section__subtitle {
        margin-bottom: var(--mb-3);
    }
}

@media screen and (max-width: 576px) {
    
}

/* ========== FOR SMALL DEVICES ========== */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}

/*============== THEME ===========*/

/*============= Variables Dark theme ==========*/

/*=== Color Changes in some parts of the website, in dark theme ===*/

/*=============== REUSABLE CSS CLASSES =============*/

/*=================  HEADER & NAV ================*/

/* Navigation for mobile devices */

/* show menu */

/*Change background header */

/*  Header background color of other pages */

/*=============== BUTTON ============*/

/*=============== HOME ===============*/
